.row{
    margin: 20px;
}
.col-md-6 h6{
    font-weight: 400;
    font-size: 13px;
    text-align: right;
    
}
.col-md-6 a {
    text-decoration: none;
}
.col-md-6 h1{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}
.col-md-6 .form-control{
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    padding: 10px;
    border-radius: 0;
    
}
.col-md-6 .form-control.pwd{
    border-right: none;
}
.col-md-6 span{
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    border-left: none;
}
.col-md-6 .d-grid .btn{
    width: 335px;
    border-radius: 50px;
    margin-top: 20px;
}
.col-md-6 .social .btn{
    border: 0.6px solid #D9D9DB;
    border-radius: 0;
    margin-top: 20px;
}
.col-md-6 p{
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}
